name: Install Package

on: push

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install package using pyproject.toml
        run: |
          python -m pip install --upgrade pip
          pip install .
