name: Run Pytest

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10"]

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies from pyproject.toml
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      # - name: Lint with flake8
      #   run: |
      #     flake8 . --exclude=examples --count --select=E9,F63,F7,F82 --show-source --statistics
      #     flake8 . --exclude=examples --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      
      - name: Run tests (quantumsparse)
        run: pytest quantumsparse

      - name: Run tests (cylindrical)
        run: pytest tests/test_cylindrical
      
      - name: Run tests (diagonalization)
        run: pytest tests/test_diagonalization

      - name: Run tests (functions)
        run: pytest tests/test_functions
      
      - name: Run tests (methods)
        run: pytest tests/test_methods
      
      - name: Run tests (symmetry)
        run: pytest tests/test_symmetry
      
      - name: Run tests (workflows)
        run: pytest tests/test_workflows
    
